# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variable file
.env

# Ignore virtual environment folder
venv/
env/
*.venv

# Ignore macOS files
.DS_Store

# Ignore log files and temporary files
*.log
*.tmp

# Ignore other OS-specific files (optional)
Thumbs.db
